<h1>Disclaimer</h1>

<p>The information and materials contained in this website are provided by
<%= company_name %> on a “AS-IS” basis only and to the fullest extent permitted
by law, <%= company_name %> does not make or give any warranties or
representations of any kind, whether express or implied, including without
limitation warranties of suitability and fitness for a particular purpose, or
non-infringement of third party rights in respect of the information and
materials on this website.</p>

<p><%= company_name %> makes no representations or warranties concerning any
treatment, action, or application or preparation by any person following the
information offered.  Neither we nor our partners, or any of their affiliates,
will be liable for any direct, indirect, consequential, special, exemplary or
other damages that may result, including but not limited to economic loss,
injury, illness or death.</p>

<div id="testimonial_disclaimer">
  <h2>Testimonial Disclaimer</h2>

  <p>In accordance with the ftc guide lines concerning use of endorsements and
  testimonials in advertising, please be aware of the following:</p>

  <p>Testimonials appearing on this site are actually received via text, audio
  or video submission. They are individual experiences, reflecting real life
  experiences of those who have used our products and/or services in some way or
  another. However, they are individual results and results do vary. We do not
  claim that they are typical results that consumers will generally achieve. The
  testimonials are not necessarily representative of all of those who will use
  our products and/or services.</p>

  <p>The testimonials displayed (text, audio and/or video) are given verbatim
  except for correction of grammatical or typing errors. Some have been
  shortened.  In other words, not the whole message received by the testimonial
  writer is displayed, when it seemed lengthy or not the whole testimonial
  seemed relevant for the general public.</p>

  <p><%= company_name %> is not responsible for any of the opinions or comments
  posted to our site. <%= company_name %> is not a forum for testimonials,
  however provides testimonials as a means for customers to share their
  experiences with one another. To prevent against abuse, all testimonials
  appear after they have been reviewed by management of <%= company_name %>.
  <%= company_name %> not share the opinions, views or commentary of any
  testimonials on this site, and are strictly the views of the reviewer.</p>
</div>

<div id="contact">
  <h2>Contact</h2>

  <p>If you have any questions regarding this disclaimer, or your dealings with
  our website, please <a href="contact">contact us</a>.</p>
</div>
