<div>
  <p class="leader">Psst! Let me tell you a secret...</p>

  <img src="/assets/headline.png" width="720" height="250">
  <img src="/assets/family_picture.jpg" width="520" height="287">
  <img src="/assets/text_01.png" width="673" height="160">
  <img src="/assets/passport_australian.jpg" width="400" height="450">
  <img src="/assets/text_02.png" width="720" height="250">

  <iframe width="640" height="360" src="http://www.youtube.com/embed/_5n0dOmxHK4?rel=0" frameborder="0" allowfullscreen></iframe>

  <img src="/assets/text_03.png" width="720" height="139">

  <img src="/assets/arrow_gif.gif" width="273" height="114">
</div>

<p>
<strong>Date:</strong> <%= letter_date %><br>
<strong>Location:</strong> California, USA<br>
<strong>From:</strong> Sinéad</p>

<img class="salutation" src="/assets/dearfriend.png" width="250" height="75">

<p>Have you always dreamed of making that <b><u>BIG</u></b> change to your
life? Planning to move to United States to reach your <b>ultimate dreams</b>?</p>
<p>How would you like to take weekends way to visit those places you’ve
always wanted to see? Can you imagine being the neighbour of some
world-famous celebrities in Hollywood?</p>
<p>Just imagine standing at the base of the Statue of Liberty, riding the
elevator up the Empire State Building, or exploring Central Park. Can you
feel the excitement?</p>
<p><b>It’s fantastic, Mate!</b></p>

<img src="/assets/family_statueliberty1.jpg" width="626" height="347">

<p>The United States of America (also called the United States, the US, the
USA, America, and the States) is indeed a major country of the world.</p>
<p>It is one of the <b>world’s most ethnically diverse</b> and <b>
  multicultural nations</b>, the product of large-scale immigration from many
countries. The US economy is the world’s largest national economy, with an
estimated 2010 GDP of $14.53 trillion.</p>
<p>Moving to America is a pretty big step to anyone. It can be fun. Heck, it
should be fun! But sometimes, it may seem <b><u>very</u></b> <b><u>
    intimidating</u></b> -- especially to those who wish to stay <b>permanently</b>
-- because there are so many factors to be considered.</p>
<p>There will be questions like...</p>
<ul>
  <li>Can you really afford it?</li>
  <li>Can you fit into the US fast pace lifestyle?</li>
  <li>Are there tips tailored to my situation?</li>
  <li>Is a certain city my only living option?</li>
  <li>What steps should I take with my move to the US?</li>
</ul>
<p>
One day you may be stressed about your visa options. But a visa is useless
if you can’t find a job, a place to stay and can’t open a bank account. This
common immigrant’s situation is far more <b>stressful</b>.<br>
<br>
Also, have you considered how much time and money you’ll be putting in to
your move to the US? Yes, the numbers can be frightening.</p>
<p>
Allow me to introduce myself...</p>
<p>
My name is Sinéad King.
My family and I moved to California from Sydney two years ago and not a day
goes by that we are not <b>thankful</b> that we are here. For someone who is
considering taking this step, I can without hesitation say that we have not
had any regrets.</p>
<p>
And today, I have the <b>perfect solution</b> for you and your family...</p>
<p>
You see,
I have written a guidebook. An ebook, to be exact (in this time and age, where
documents can be sent electronically to another continent in seconds, why
not we save a couple of trees?).</p>
<p>
This is a guidebook about finding the right answers to <u>ALL</u> your
questions...</p>

<img src="/assets/text_04.png" width="720" height="208">

<%= google_checkout "bookcover1.jpg" %>

<p>This is your <b>ultimate guide</b> for asking, getting, and making the most
of your “moving to USA” experiences.</p>

<p>With this guide, you can take the uncertainty, risks, stress and confusion
out of your move to the USA. This is the single biggest source of helpful and
useful information that you’re going to find in your quest to move to America --
guaranteed.</p>

<p>Would you go on a long, difficult and important road trip without a map? Of
course you wouldn’t, because the cost of failure is just too great.</p>

<p>Why not have a <b>detailed</b> and <b>accurate</b> US immigration map? A map
that shows you the way <b>from start to finish</b>. A map that tells you what
you should do and when.</p>

<p>A map that lets you know where there is danger as well as opportunity. A map
that provides a solution to every US immigration problem.</p>

<p>Sure you can get involved with immigration advisors, lawyers and relocation
agents, but they <b>charge thousands of dollars</b> for information that you can
get right here, right now. The days of innocent, uninformed migrants being
ripped off have now come to an end - but only for someone like you who knows
about this guide.</p>

<p>A guide that many people wished existed before they moved over rather than
having to learn everything the hard and expensive way.</p>

<p><b><%= book_title %></b> equips you with the <u>knowledge</u> and <u>
  skills</u> you need to emigrate to and successfully settle in any part of the
United States. Whether it be Washington, New York, Los Angeles or Las Vegas, the
system is the same.</p>

<p>With this guide you get more than the “what to do”, but most importantly, you
get the “how, when, where, who and why” of emigrating to the States. </p>

<p>Inside this guidebook, you will discover the answers to questions like...</p>

<ul class="spaced">
  <li><b>How to get your E3 visa?</b></li>
  <li>What’s the best way to organise yourself before leaving for the USA?</li>
  <li><b>Finding a place to live, buy, rent, what?</b></li>
  <li>Are there things you can do now to make things easier for yourself?</li>
  <li><b>How do you go about finding a job?</b></li>
  <li>How to open your own bank account?</li>
  <li><b>What to expect?</b></li>
  <li>And many, many more!</li>
</ul>

<p>Yes, there have been hurdles, differences and frustrations, which is the
reason I am writing this guidebook. Had I known two years ago all the things I
know now or simply been able to ask someone a question, the move would have been
even <b>a lot easier</b> and I would have saved <b>a lot of time</b>.</p>

<img src="/assets/family_niagarafalls.jpg" width="648" height="329">
<img src="/assets/text_05.png" width="720" height="162">

<p>Hey, that’s a good question.</p>

<p>But, allow me to rephrase it for you...</p>

<p><b>“How much this guidebook will help you change your life?”</b></p>

<p>Think about how much the information will help you save thousands of
dollars... Think about how much the information will help you save enormous time
and headaches while you’re in the US -- headaches that can go on for years!</p>

<img src="/assets/headache.jpg" width="500" height="301">

<p>You don’t want that, do you?</p>

<p>Moving to another country can be tough, I know that, but you have me on your
side. You can hold my hands and I will take you there... to United States!</p>

<p>I will walk you through one step at a time, so you can have an <b>enjoyable
  experience</b>, and an interesting story to <b>share with your grandchildren!</b></p>

<p><b>Why isn’t this all free, you ask?</b></p>

<p>Why charge a price for information in the ’Information Age’ where most things
are free? Well, this work is of value, whilst what is often freely available on
the Internet isn’t really of value.</p>

<p>Restricting yourself to “free” information
means you’re equipping yourself to compete with the hordes of people who
have the same free information. I believe <u>better</u> <u>knowledge</u> can only ever lead to
superior results.</p>

<p>Furthermore, something gained for free is often not appreciated and ends up
being discarded. It would also be cruel and wrong to get people without
money excited about the prospect of a better life. Also, my time is of value
and it’s only <u>fair</u> that I get something back for my time spent constantly
updating the guide, administering this site and answering emails.</p>

<p><b>How does the payment process work?</b></p>

<p>When you click on a payment link, you’ll be redirected to Google Checkout, a
very secure service provided by Google who use your own google account to
protect you against fraud.</p>

<p>Once you’ve entered your details, these will be verified. Upon successful
completion, a download will immediately begin.  You will have your copy of
<%= book_title %> within seconds.</p>

<p>The whole process will take <b>less than 3 minutes</b>.</p>

<p>There is no waiting for snail mail delivery, for things going missing or
shipping charges involved. If you have any questions about the guide or this
site, feel free to contact me at <%= contact_email %>.</p>

<p>Not comfortable yet?</p>

<p>All right then, allow me to remove any risk that you might face. If you’re still
sitting on the fence, let me tell you that <b>you have nothing to lose.</b></p>

<p>Order a copy of <i><%= book_title %></i> right now and read it through, from start to
finish. And please, take your time. No need to rush. If you don’t like what you
see, then all you have to do is send me an email so I can refund your money.</p>

<p><b>No gimmicks. No lies. No worries.</b></p>

<%= google_checkout "guarantee_certificate.png" %>

<p>And guess what... you even get to keep the guidebook should you be refunded!</p>

<p>So basically, the risk is all mine. I’ve put time and effort in to writing the guide,
managing this website, etc. If you don’t like the guide, you get your money back
and I lose all my time and effort. I’ll keep losing if my guide is rubbish.</p>

<p>But it isn’t, so we’re both happy.</p>

<p>My friends even say that one of chapters alone is worth several times more
than the asking price!</p>

<p>And don’t think of this guide as a mere ebook. Remember instead that you are
benefiting from <b>proven</b> <b>knowledge</b> and <b>effective</b>
<b>solutions</b> to a myriad of common problems that you <b><u>WILL</u></b> most
definitely encounter in the US.</p>

<p>There is no beating around the bush or hard sell with this 47-page guidebook.
If you have got this far, then clearly there is something bugging you...</p>

<p>There is something that you just have to know right now, am I correct?</p>

<p>Then, what are you waiting for?</p>

<p><b>Get yourself a copy of <%= book_title %> right now -- the price is </b>
<%= price_output %><b> -- and see what you will discover inside...</b></p>

<%= google_checkout "arrow_gif.gif" %>

  <p style="text-align: center">
  <b>Just </b><%= price_output %></p>

<%= google_checkout %>

<img src="/assets/text_07.png" width="720" height="218">
<img src="/assets/pack_your_bags.jpg" width="265" height="223">

<p>Good luck to you and your family,</p>

<p><br>
Sinéad<br>
<b>e3visa.me</b></p>
<div id="gplus"><g:plusone annotation="inline"></g:plusone></div>

<p><strong>P.S.</strong> No one knows what is going to happen... so why not have
the guide that will prepare you for the future? It is always <strong>better to
  be prepared than sorry</strong>, no? Well, this guide will tell you
<strong><u>EVERYTHING</u></strong> I know about moving to the States.</p>

<p><b>P.P.S.</b> Let me remind you again that I offer a  money back guarantee,
so you have absolutely nothing to lose by reading it. If you don’t like the
information you’re getting, then <b>I will refund every penny of your money with
  no questions asked</b>. All the risk is on me.</p> <p>Read the guide and tell
me what you think about it. Don’t risk coming back to this page and seeing this
big, red sign...</p>

<img src="/assets/closed.png" width="429" height="297">

<p>So, claim the copy of <%= book_title %> right now. Don't hesitate and regret making the
<b>best decision of your life today</b>. Because...</p>

<%= google_checkout %>

